﻿
<div id="footer" style="display: none;">
	<table style="width: 100%;border-collapse: collapse; margin-top: 30px;">
		<tbody style="page-break-inside: avoid;">
			<tr style="border-top: 1px solid gray; border-bottom: 1px solid gray;">

				<td style="width: 50%;margin-left: 5px; border-right: 1px solid gray;">
					<p style="margin: 10px;">จัดเตรียมโดย</p>
					<div style="margin: 10px;">
						<img src="SeedWorks/Assets/Img/Signature01.png" style="width: auto; height: auto;">
					</div>
					<p style="margin: 10px;">(ภิรญา โพธิ้เกษม)</p>
					<div style="width: 100%; margin: 10px;">
						<div style="display: flex; justify-content: space-between;">
							<div style="flex: 1; text-align: left;">ตำแหน่ง</div>
							<div style="flex: 1; text-align: left;">BA/Project Cordinator</div>
						</div>
						<div style="display: flex; justify-content: space-between; margin-top: 10px;">
							<div style="flex: 1; text-align: left;">วันที่</div>
							<div style="flex: 1; text-align: left;">31/06/2023</div>
						</div>
					</div>
				</td>

				<td style="width: 50%;margin-left: 5px">
					<p style="margin: 10px;">อนุมัติโดย</p>
					<div style="margin: 10px;">
						<img src="SeedWorks/Assets/Img/Signature02.png" style="width: auto; height: auto;">
					</div>
					<p style="margin: 10px;">(สุรัตน์ ลีรัตนชัย)</p>
					<div style="width: 100%; margin: 10px;">
						<div style="display: flex; justify-content: space-between;">
							<div style="flex: 1; text-align: left;">ตำแหน่ง</div>
							<div style="flex: 1; text-align: left;">Accounting Director</div>
						</div>
						<div style="display: flex; justify-content: space-between; margin-top: 10px;">
							<div style="flex: 1; text-align: left;">วันที่</div>
							<div style="flex: 1; text-align: left;">31/06/2023</div>
						</div>
					</div>
				</td>

			</tr>
		</tbody>
	</table>
</div>

<script>
    function insertFooter() {
        var currentPage = {page};
        var lastPage = {total-pages};
        if (currentPage == lastPage) {
            var div = document.querySelector('#footer');
            div.style.display = 'block';
        }
    }

    window.onload = function () {
        insertFooter();
    };
</script>