﻿@model PDFDemo3.Core.BusinessModels.PurchaseOrder.PurchaseOrderRequest
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        @@font-face {
            font-family: 'Sarabun';
            src: url('SeedWorks/Assets/Fonts/Sarabun/Sarabun-Regular.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        body {
            font-family: 'Sarabun', sans-serif;
            /*font-size: 15rem !important;*/
/*            background-color: red;*/
        }

    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="SeedWorks/CSS/Style.css">
    <title>PurchaseQuotation</title>
</head>

<body>
    <div style="max-width: 100%; margin: 0 auto; font-family: 'Sarabun', sans-serif;">
        <!-- First Row -->
        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;margin: 0; padding: 0;">
            <div>
                <img src="SeedWorks/Assets/Img/logo.png" style="max-width: 50%; height: auto;">
            </div>
            <div>
                <h1 style="font-size: 28px;">ใบสั่งซื้อ</h1>
                <h3 style="text-align: right; font-size: 22px;">ต้นฉบับ</h3>
            </div>
        </div>

        <!-- Second Row -->
        <table style="width:100%">
            <tr>
                <td style="width: 50%;">
                    <div style="font-size: 15px; line-height: 1.7;">
                        <p style="margin: 0; padding: 0; font-weight: bold;">บริษัท คลิกเน็กซ์ จำกัด (สำนักงานใหญ่)</p>
                        <p style="margin: 0; padding: 0;">128/323-333 ชั้น 30 อาคารพญาไทพลาซ่า ถนนพญาไท แขวงทุ่งพญาไท เขตราชเทวี กรุงเทพฯ 10400</p>
                        <p style="margin: 0; padding: 0;">เลขประจำตัวผู้เสียภาษี : 01054565571</p>
                        <p style="margin: 0; padding: 0;">Tel : 02-217-7900  Fax : 02-612-9783</p>
                        <p style="margin: 0; padding: 0;">E-mail : info@clicknext.com  Website : www.clicknext.com</p>
                    </div>
                </td>
                <td style="text-align: center;font-size: 15px;">
                    <table style="width:100%;text-align: left;padding-left: 100px;">
                        <tr>
                            <td>หน้า</td>
                            <td>{page}/{total-pages}</td>
                        </tr>
                        <tr>
                            <td>เลขที่เอกสาร</td>
                            <td>@(Model.DocNum)</td>
                        </tr>
                        <tr>
                            <td>วันที่เอกสาร</td>
                            <td>15/08/2565</td>
                        </tr>
                        <tr>
                            <td>เลขที่เอกสารอ้างอิง (1)</td>
                            <td>PR-2023-07-1</td>
                        </tr>
                        <tr>
                            <td>เลขที่เอกสารอ้างอิง (2)</td>
                            <td>-</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="border-bottom: 1px solid grey;"></td>
            </tr>
        </table>

        <!-- ข้อมูลผู้จัดจำหน่าย -->
        <div style="width: 100%; margin-top: 9px;line-height: 1.6">
            <p style="margin: 0; font-weight: bold;">ข้อมูลผู้จัดจำหน่าย</p>
            <table style="width:100%;border-collapse: collapse;">
                <tr>
                    <td style="width: 60%;">
                        <div style="width: 100%; text-align: left;">
                            <div style="width: 35%; float: left;">ผู้จัดจำหน่าย</div>
                            <div style="width: 65%; float: left;">บริษัท สยามแม็คโคร จำกัด (มหาชน)</div>

                            <div style="width: 35%; float: left;">เลขประจำตัวผู้เสียภาษี</div>
                            <div style="width: 65%; float: left;">0105541074311</div>

                            <div style="width: 35%; float: left; vertical-align: top;">ที่อยู่</div>
                            <div style="width: 65%; float: left;">
                                อาคารซันทาวเวอร์ (บี) ชั้นที่ 28 เลขที่ 123 ถนนวิภาวดี-รังสิต<br>
                                แขวงจอมพล เขตจตุจักร กรุงเทพมหานคร
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </td>
                    <td style="text-align: center;vertical-align: top;width: 40%;">
                        <div style="width: 100%; text-align: left; padding-left: 30px;">
                            <div style="width: 50%; float: left;">ชื่อผู้ติดต่อ</div>
                            <div style="width: 50%; float: left;">ชยิน พัฒนปรีชา</div>

                            <div style="width: 50%; float: left;">วันที่ต้องการใช้</div>
                            <div style="width: 50%; float: left;">31/06/2023</div>

                            <div style="clear: both;"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="border-bottom: 1px solid grey;"></td>
                </tr>
            </table>
        </div>

        <!-- ที่อยู่จัดส่งสินค้า -->
        <div style="width: 100%; margin-top: 9px;line-height: 1.6;">
            <p style="margin: 0; font-weight: bold;">ที่อยู่จัดส่งสินค้า</p>
            <table style="width:100%;border-collapse: collapse;">
                <tr>
                    <td style="width: 60%;">
                        <div style="width: 100%; text-align: left;">
                            <div style="width: 35%; float: left;">กำหนดส่งมอบ</div>
                            <div style="width: 65%; float: left;">01/06/2565</div>

                            <div style="width: 35%; float: left;">คลังสินค้า</div>
                            <div style="width: 65%; float: left;">พญาไทพลาซ่า ชั้น 30</div>

                            <div style="width: 35%; float: left; vertical-align: top;">ที่อยู่จัดส่งสินค้า</div>
                            <div style="width: 65%; float: left;">
                                128/323-333 ชั้น 30 อาคารพญาไทพลาซ่า เขตราชเทวี แขวงทุ่งพญาไท 10400
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="border-bottom: 1px solid grey;"></td>
                </tr>
            </table>
        </div>
    </div>

</body>
</html>
