﻿@model PDFDemo3.Core.BusinessModels.PurchaseOrder.PurchaseOrderRequest
<head>
	<style>
		@@font-face {
			font-family: 'Sarabun';
			src: url('SeedWorks/Assets/Fonts/Sarabun/Sarabun-Regular.ttf') format('truetype');
			font-weight: normal;
			font-style: normal;
		}

		body {
			font-family: 'Sarabun', sans-serif;
		}

		table {
			font-family: 'Sarabun', sans-serif;
			font-size: 20px;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="SeedWorks/CSS/Style.css">
</head>

<body style="margin: 0; padding: 0;width: 100%;">
	<p style="font-weight: bold;font-size: 24px;">รายการสั่งซื้อ</p>
	<!-- Table PurchaseQuotation -->
	<table style="width: 100%; border-collapse: collapse; margin-top: 15px;">
		<thead style="page-break-inside: avoid;">
			<tr style="border-top: 1px solid gray; border-bottom: 1px solid gray;">
				<th style="width: 5%;padding: 10px; text-align: center; border-top: 1px solid gray; border-bottom: 1px solid gray; border-right: 1px solid gray;">ลำดับ</th>
				<th style="width: 8%;padding: 10px; text-align: left; border: 1px solid gray;">ประเภท</th>
				<th style="width: 17%;padding: 10px; text-align: left; border: 1px solid gray;">สินค้า / บริการ</th>
				<th style="width: 5%;padding: 10px; text-align: right; border: 1px solid gray;">จำนวน</th>
				<th style="width: 8%;padding: 10px; text-align: left; border: 1px solid gray;">หน่วยนับ</th>
				<th style="width: 10%;padding: 10px; text-align: right; border: 1px solid gray;">ราคา</th>
				<th style="width: 10%;padding: 10px; text-align: right; border: 1px solid gray;">ราคารวม</th>
				<th style="width: 13%;padding: 10px; text-align: right; border-top: 1px solid gray; border-bottom: 1px solid gray; border-left: 1px solid gray;">ส่วนลด(%)</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var orderItem in Model.OderItems)
			{
				<tr style="border-top: 1px solid gray; border-bottom: 1px solid gray;">
					<td style="width: 5%;padding: 10px; text-align: center; border-top: 1px solid gray; border-bottom: 1px solid gray; border-right: 1px solid gray;">@(Model.OderItems.IndexOf(orderItem) + 1)</td>
					<td style="width: 8%;padding: 10px; text-align: left; border-right: 1px solid gray;">@orderItem.type</td>
					<td style="width: 17%;padding: 10px; text-align: left; border: 1px solid gray;">@orderItem.name</td>
					<td style="width: 5%;padding: 10px; text-align: right; border: 1px solid gray;">@orderItem.qty</td>
					<td style="width: 8%;padding: 10px; text-align: left; border: 1px solid gray;">@orderItem.unit</td>
					<td style="width: 10%;padding: 10px; text-align: right; border: 1px solid gray;">@orderItem.price</td>
					<td style="width: 10%;padding: 10px; text-align: right; border: 1px solid gray;">@orderItem.pre_price</td>
					<td style="width: 13%;padding: 10px; text-align: right; border-top: 1px solid gray; border-bottom: 1px solid gray; border-left: 1px solid gray;">@orderItem.discount%</td>
				</tr>
			}
		</tbody>
	</table>

	<!-- Summary -->
	<table style="width: 100%; border-collapse: collapse; margin-top: 0px">
		<tbody style="page-break-inside: avoid;">
			<tr>
				<td style="width: 68%;padding: 10px; text-align: left; vertical-align: top;">
					<p>หมายเหตุ</p>
					<p>-</p>
				</td>
				<td style="width: 19%;padding: 10px; text-align: left;">
					<p>รวมเป็นเงิน</p>
					<p>ส่วนลดท้ายบิล</p>
					<p>ภาษีมูลค่าเพิ่ม</p>
					<p>รวมภาษีมูลค่าเพิ่</p>
					<p>ภาษี ณ ที่จ่าย</p>
				</td>
				<td style="width: 13%; padding: 10px; text-align: right;border-left: 1px solid gray;">
					<p>60,000.00</p>
					<p>0.00</p>
					<p>4,200.00</p>
					<p>64,200.00</p>
					<p>0.00</p>
				</td>
			</tr>

			<tr style="border-bottom: 1px solid gray; border-top: 1px solid gray; background-color: #f2f2f2;">
				<td style="width: 68%;padding: 10px; text-align: left; vertical-align: top;">หกล้านสิบแสนยี่สิบร้อยสอง</td>
				<td style="width: 19%;padding: 10px; text-align: left; font-size: 21px; font-weight: bold;">มูลค่ารวม</td>
				<td style="width: 13%;padding: 10px; text-align: right; font-size: 21px; font-weight: bold;">64,200.00</td>
			</tr>
		</tbody>
	</table>
	<hr style="width: 100%; margin-top: 6px; color: black">


	<!-- Footer -->
	<table style="width: 100%;border-collapse: collapse; margin-top: 30px;">
		<tbody style="page-break-inside: avoid;">
			<tr style="border-top: 1px solid gray; border-bottom: 1px solid gray;">

				<td style="width: 50%;margin-left: 5px; border-right: 1px solid gray;">
					<p style="margin: 10px;">จัดเตรียมโดย</p>
					<div style="margin: 10px;">
						<img src="SeedWorks/Assets/Img/Signature01.png" style="width: auto; height: auto;">
					</div>
					<p style="margin: 10px;">(ภิรญา โพธิ้เกษม)</p>
					<div style="width: 100%; margin: 10px;">
						<div style="display: flex; justify-content: space-between;">
							<div style="flex: 1; text-align: left;">ตำแหน่ง</div>
							<div style="flex: 1; text-align: left;">BA/Project Cordinator</div>
						</div>
						<div style="display: flex; justify-content: space-between; margin-top: 10px;">
							<div style="flex: 1; text-align: left;">วันที่</div>
							<div style="flex: 1; text-align: left;">31/06/2023</div>
						</div>
					</div>
				</td>

				<td style="width: 50%;margin-left: 5px">
					<p style="margin: 10px;">อนุมัติโดย</p>
					<div style="margin: 10px;">
						<img src="SeedWorks/Assets/Img/Signature02.png" style="width: auto; height: auto;">
					</div>
					<p style="margin: 10px;">(สุรัตน์ ลีรัตนชัย)</p>
					<div style="width: 100%; margin: 10px;">
						<div style="display: flex; justify-content: space-between;">
							<div style="flex: 1; text-align: left;">ตำแหน่ง</div>
							<div style="flex: 1; text-align: left;">Accounting Director</div>
						</div>
						<div style="display: flex; justify-content: space-between; margin-top: 10px;">
							<div style="flex: 1; text-align: left;">วันที่</div>
							<div style="flex: 1; text-align: left;">31/06/2023</div>
						</div>
					</div>
				</td>

			</tr>
		</tbody>
	</table>
</body>