﻿@model PDFDemo3.Core.BusinessModels.LedgerBook.LedgerBookRequest 
@using PDFDemo3.SeedWorks.Constants
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        @@font-face {
            font-family: 'Sarabun';
            src: url('SeedWorks/Assets/Fonts/Sarabun/Sarabun-Regular.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        body {
            font-family: 'Sarabun', sans-serif;
            /*font-size: 15rem !important;*/
            /*            background-color: red;*/
        }
    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="SeedWorks/CSS/Style.css">
    <title>Ledger Book</title>
</head>

<body>
    <div style="max-width: 100%; margin: 0 auto; margin-top: 5mm; font-family: 'Sarabun', sans-serif;">
        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
            <div style="text-align: left; width: 60%">
                @if (Model.LanguageId == LanguageId.THAI)
                {
                    <h1 style="font-size: 22px; margin-bottom: 0px; margin-top: 0px;">สมุดบัญชีแยกประเภท</h1>
                }
                else
                {
                    <h1 style="font-size: 22px; margin-bottom: 0px; margin-top: 0px;">General Ledger</h1>
                }
                <h3 style="margin-bottom: 5px;">@(Model.Company)</h3>
                <p style="margin: 0px; color: gray; ">01/11/2566 - 31/11/2566</p>
            </div>
            <div style="text-align: right;">
                <img src="SeedWorks/Assets/Img/logo.png" style="max-width: 40%; height: auto; margin-bottom: 5px; margin-top: 10px;">
                @if (Model.LanguageId == LanguageId.THAI)
                {
                    <p style="margin: 0px; color: gray; margin-bottom: 5px;">หน้าที่ {page} จาก {total-pages}</p>
                    <p style="margin: 0px; color: gray; margin-bottom: 5px;">ผู้พิมพ์ @(Model.ExporterName)</p>
                    <p style="margin: 0px; color: gray; margin-bottom: 5px;">วันที่พิมพ์ @(Model.ExportDateString)</p>

                }
                else
                {
                    <p style="margin: 0px; color: gray; margin-bottom: 5px;">Page {page} of {total-pages}</p>
                    <p style="margin: 0px; color: gray; margin-bottom: 5px;">Export By @(Model.ExporterName)</p>
                    <p style="margin: 0px; color: gray; margin-bottom: 5px;">Export Date @(Model.ExportDateString)</p>
                }     
            </div>

        </div>
    </div>
</body>
</html>
