﻿@model PDFDemo3.Core.BusinessModels.LedgerBook.LedgerBookRequest
@using PDFDemo3.SeedWorks.Constants

<head>
    <style>
        @@font-face {
            font-family: 'Sarabun';
            src: url('SeedWorks/Assets/Fonts/Sarabun/Sarabun-Regular.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        body {
            font-family: 'Sarabun', sans-serif;
            width: 98%;
            text-align: center;
        }

        table {
            font-family: 'Sarabun', sans-serif;
            font-size: 20px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="SeedWorks/CSS/Style.css">
</head>

<body>
    @foreach (var account in Model.Accounts)
    {
        <div style="display: flex; justify-content: space-between; margin: 0; padding: 0;">
            <div style="display: flex">
                <p style="font-weight: bold; font-size: 17px; margin: 0; margin-right: 5px">@(account.code)</p>
                <p style="font-weight: bold; font-size: 17px; margin: 0">@(account.name)</p>
            </div>
            <div>
                <p style="font-weight: bold; font-size: 17px; margin: 0;">THB</p>
            </div>
        </div>

        <!-- Table PurchaseQuotation -->
        <table style="width: 100%; border-collapse: collapse; margin-top: 5px; margin-bottom: 20px; font-size: 12px; text-align: center">
            @if (Model.LanguageId == LanguageId.THAI)
            {
                <thead style="page-break-inside: avoid; background-color: #EEF2F6;">
                    <tr style="border-top: 1px solid gray; border-bottom: 1px solid gray;">
                        <th style="width: 9%;padding: 10px; text-align: left; border: 1px solid gray;">สาขา</th>
                        <th style="width: 1%;padding: 10px; text-align: left; border: 1px solid gray;">วันที่</th>
                        <th style="width: 9%;padding: 10px; text-align: left; border: 1px solid gray;">เลขที่เอกสาร</th>
                        <th style="width: 22%;padding: 10px; text-align: left; border: 1px solid gray;">คำอธิบายรายการ</th>
                        <th style="width: 13%;padding: 10px; text-align: left; border: 1px solid gray;">
                            เลขที่เอกสารอ้างอิง (1)
                        </th>
                        <th style="width: 13%;padding: 10px; text-align: left; border: 1px solid gray;">
                            เลขที่เอกสารอ้างอิง (2)
                        </th>
                        <th style="width: 9%;padding: 10px; text-align: right; border: 1px solid gray;">เดบิต</th>
                        <th style="width: 9%;padding: 10px; text-align: right; border: 1px solid gray;">เครดิต</th>
                        <th style="width: 12%;padding: 10px; text-align: right; border: 1px solid gray;">ยอดคงเหลือ</th>
                    </tr>
                </thead>
            }
            else
            {
                <thead style="page-break-inside: avoid; background-color: #EEF2F6;">
                    <tr style="border-top: 1px solid gray; border-bottom: 1px solid gray;">
                        <th style="width: 9%;padding: 10px; text-align: left; border: 1px solid gray;">Branch Code</th>
                        <th style="width: 1%;padding: 10px; text-align: left; border: 1px solid gray;">Date</th>
                        <th style="width: 9%;padding: 10px; text-align: left; border: 1px solid gray;">Doc No.</th>
                        <th style="width: 22%;padding: 10px; text-align: left; border: 1px solid gray;">Description</th>
                        <th style="width: 13%;padding: 10px; text-align: left; border: 1px solid gray;">
                            Reference (1)
                        </th>
                        <th style="width: 13%;padding: 10px; text-align: left; border: 1px solid gray;">
                            Reference (2)
                        </th>
                        <th style="width: 9%;padding: 10px; text-align: right; border: 1px solid gray;">Debit</th>
                        <th style="width: 9%;padding: 10px; text-align: right; border: 1px solid gray;">Credit</th>
                        <th style="width: 12%;padding: 10px; text-align: right; border: 1px solid gray;">Balance</th>
                    </tr>
                </thead>
            }

            <tbody>
                @foreach (var accountItem in account.AccountItems)
                {
                    <tr style="border-top: 1px solid gray; border-bottom: 1px solid gray;">
                        <td style="width: 9%;padding: 10px; text-align: left; border: 1px solid gray;">@accountItem.branch</td>
                        <td style="width: 1%;padding: 10px; text-align: left; border: 1px solid gray;">@accountItem.date_string</td>
                        <td style="width: 9%;padding: 10px; text-align: left; border: 1px solid gray;">@accountItem.doc_num</td>
                        <td style="width: 22%;padding: 10px; text-align: left; border: 1px solid gray;">@accountItem.description</td>
                        <td style="width: 13%;padding: 10px; text-align: right; border: 1px solid gray;">@accountItem.doc_ref_first</td>
                        <td style="width: 13%;padding: 10px; text-align: right; border: 1px solid gray;">@accountItem.doc_ref_second</td>
                        <td style="width: 9%;padding: 10px; text-align: right; border: 1px solid gray;">@String.Format("{0:N}", accountItem.debit)</td>
                        <td style="width: 9%;padding: 10px; text-align: right; border: 1px solid gray;">@String.Format("{0:N}", accountItem.credit)</td>
                        @if (Model.LanguageId == LanguageId.THAI)
                        {
                            <td style="width: 12%;padding: 10px; text-align: right; border: 1px solid gray;">@String.Format("{0:N}", accountItem.balance) เดบิต</td>
                        }
                        else
                        {
                            <td style="width: 12%;padding: 10px; text-align: right; border: 1px solid gray;">@String.Format("{0:N}", accountItem.balance) Debit</td>
                        }
                    </tr>
                }

                <tr style="border-top: 1px solid gray; border-bottom: 1px solid gray; background-color: #EEF2F6">
                    @if (Model.LanguageId == LanguageId.THAI)
                    {
                        <td style="width: 9%;padding: 10px; text-align: left; border: 1px solid gray; font-weight: bold;">รวม 55</td>
                    }
                    else
                    {
                        <td style="width: 9%;padding: 10px; text-align: left; border: 1px solid gray; font-weight: bold;">Total 55</td>
                    }
                    <td style="width: 1%;padding: 10px; text-align: left; border: 1px solid gray;"></td>
                    <td style="width: 9%;padding: 10px; text-align: left; border: 1px solid gray;"></td>
                    <td style="width: 22%;padding: 10px; text-align: left; border: 1px solid gray;"></td>
                    <td style="width: 13%;padding: 10px; text-align: right; border: 1px solid gray;"></td>
                    <td style="width: 13%;padding: 10px; text-align: right; border: 1px solid gray;"></td>
                    <td style="width: 9%;padding: 10px; text-align: right; border: 1px solid gray; font-weight: bold;">499,575.54</td>
                    <td style="width: 9%;padding: 10px; text-align: right; border: 1px solid gray; font-weight: bold;">391,412.665</td>
                    @if (Model.LanguageId == LanguageId.THAI)
                    {
                        <td style="width: 12%;padding: 10px; text-align: right; border: 1px solid gray; font-weight: bold;"> 108,754.79 เดบิต</td>
                    }
                    else
                    {
                        <td style="width: 12%;padding: 10px; text-align: right; border: 1px solid gray; font-weight: bold;"> 108,754.79 Debit</td>
                    }
                </tr>
            </tbody>
        </table>
    }

</body>